//
//  Common.xcconfig
//  ScrollReverser
//
//  Created by Nicholas Moore on 27/11/2020.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BUILDSCRIPTS_APP_BUNDLE_ID = com.pilotmoon.scroll-reverser
BUILDSCRIPTS_URL_ID = $(BUILDSCRIPTS_APP_BUNDLE_ID).url
BUILDSCRIPTS_URL_SCHEME = x-pilotmoon-scroll-reverser

BUILDSCRIPTS_VERSION_OFFSET = 10000
BUILDSCRIPTS_VERSION_DEV = 99999

BUILDSCRIPTS_MINIMUM_SYSTEM_VERSION = 13.5

// no crash reporting, so there is no use for symbol maps
BUILDSCRIPTS_UPLOAD_SYMBOLS = NO

// placeholders, overridden by the metadata that the prebuild action generates
BUILDSCRIPTS_VERSION_NUM = 0
BUILDSCRIPTS_VERSION_STRING = not_set
BUILDSCRIPTS_ORIGINAL_VERSION_STRING = not_set
BUILDSCRIPTS_RELEASE_CHANNEL = not_set
BUILDSCRIPTS_RELEASE_EDITION = not_set
#include? "BuildMetadata.generated.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = BUILDSCRIPTS_APP_BUNDLE_ID=@\"$(BUILDSCRIPTS_APP_BUNDLE_ID)\" BUILDSCRIPTS_URL_SCHEME=@\"$(BUILDSCRIPTS_URL_SCHEME)\"
