<!DOCTYPE HTML>
<html>
<head>
	<title><%= `echo $PRODUCT_NAME` %> Release Notes</title>
    <meta charset="utf-8">
	<style type="text/css">
        body { font-family: Lucida Grande; font-size: medium; }
        h2, h3 { font-size: medium; }
        li > ul > li { list-style-type: none; }
	</style>
</head>
<body>
<%= `redcarpet ReleaseNotes.md` %>
</body>
</html>